.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.floater {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

#name, #email, #message, #submit {
  background-color: lightgray;
}

#submit {
  padding: 3px 10px 2px 10px;
  border: 2px solid #3B82F6;
  border-radius: 5px;
}

::placeholder {
  font-family: "Macondo", cursive;
  padding-left: 5px;
}
