.metamorphous-regular {
  font-family: "Metamorphous", serif;
  font-weight: 400;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

.floater {
    float: left;
    padding-right: 10px;
    padding-bottom: 5px;
}

#name, #email, #message {
  background-color: lightgray;
}